{% liquid
  assign variant = product.selected_or_first_available_variant
  assign inventory_quantity = variant.inventory_quantity
  assign inventory_policy = variant.inventory_policy
  assign inventory_management = variant.inventory_management

  assign variants = product.variants | json
  assign num = block.id | replace: '-', '_'

  assign appSettings = shop.metafields['customize-order-app'].inventoryStatusSettings.value
  if inventory_quantity != blank
    assign message_instock = appSettings.msgInstock
    assign message_lowinventory = appSettings.msgLowInventory | replace: '{number}', inventory_quantity
  else
    assign message_instock = appSettings.msgInstock
    assign message_lowinventory = appSettings.msgLowInventory
  endif
  assign icon_color = '#FFFFFF'

  if appSettings.hexIconLowInventory != blank
    assign icon_color_low = appSettings.hexIconLowInventory
  else
    assign icon_color_low = '#FFFFFF'
  endif
  if appSettings.hexIconInstock != blank
    assign icon_color_stock = appSettings.hexIconInstock
  else
    assign icon_color_stock = '#FFFFFF'
  endif
  if appSettings.hexIconPreorder != blank
    assign icon_color_preorder = appSettings.hexIconPreorder
  else
    assign icon_color_preorder = '#FFFFFF'
  endif
  if appSettings.hexIconOutOfStock != blank
    assign icon_color_soldout = appSettings.hexIconOutOfStock
  else
    assign icon_color_soldout = '#FFFFFF'
  endif
%}
<script>
	let variants = [];
	let rangeLowInventory = null;
	let message_lowinventory{{ num }} = '';
</script>
{% if variants != blank %}
<script>
	variants{{ num }} = {{ variants }};
	{% if appSettings.showLowInventoryFlg == true %}
	rangeLowInventory = {{ appSettings.rangeLowInventory }};
	{% endif %}
	{% if appSettings.msgLowInventory != blank %}
	message_lowinventory{{ num }} = '{{ appSettings.msgLowInventory }}';
	{% endif %}

	if (variants{{ num }} && variants{{ num }}.length > 1) {
		document.addEventListener('DOMContentLoaded', function () {
			let variantList{{ num }} = mapVariants(variants{{ num }}, [{{ product.variants | map: 'inventory_quantity' | join: ', ' }}], ["{{ product.variants | map: 'inventory_policy' | join: '", "' }}"]);
			addEventInventoryStatusPreorderdB3v2jY9Itp3(variantList{{ num }}, '{{ num }}', rangeLowInventory, message_lowinventory{{ num }});
		});
	}
</script>
{% endif %}

<!-- low inventory -->
{% if appSettings.showLowInventoryFlg == true %}
	{% if inventory_quantity > 0 and appSettings.rangeLowInventory >= inventory_quantity %}
	<ul id="status_low{{ num }}" class="inventory_list_block__custom">
	{% else %}
	<ul id="status_low{{ num }}" class="inventory_list_block__custom hide_inventory__custom">
	{% endif %}
		<li class="inventory_list__custom">
			{% if appSettings.iconTypeLowInventory.first == 'icon' %}
				<span class="icon_inventory__custom_low"></span>
			{% endif %}
			<span id="text" style="color: {{ appSettings.hexMsgLowInventory }}">{{ message_lowinventory }}</span>
		</li>
	</ul>
{% endif %}
<!-- in stock -->
{% if appSettings.showInstockFlg == true %}
	{% if inventory_quantity > 0 and inventory_quantity > appSettings.rangeLowInventory %}
	<ul id="status_stock{{ num }}" class="inventory_list_block__custom">
	{% elsif inventory_quantity > 0 and appSettings.showLowInventoryFlg == false %}
	<ul id="status_stock{{ num }}" class="inventory_list_block__custom">
	{% elsif inventory_management != 'shopify' %}
	<ul id="status_stock{{ num }}" class="inventory_list_block__custom">
	{% else %}
	<ul id="status_stock{{ num }}" class="inventory_list_block__custom hide_inventory__custom">
	{% endif %}
		<li class="inventory_list__custom">
			{% if appSettings.iconTypeInstock.first == 'icon' %}
				<span class="icon_inventory__custom_stock"></span>
			{% endif %}
			<span id="text" style="color: {{ appSettings.hexMsgInstock }}">{{ message_instock }}</span>
		</li>
	</ul>
{% endif %}
<!-- preorder -->
{% if appSettings.showPreorderFlg == true %}
	{% if 0 >= inventory_quantity and inventory_policy == 'continue' and inventory_management == 'shopify' %}
	<ul id="status_preorder{{ num }}" class="inventory_list_block__custom">
	{% else %}
	<ul id="status_preorder{{ num }}" class="inventory_list_block__custom hide_inventory__custom">
	{% endif %}
		<li class="inventory_list__custom">
			{% if appSettings.iconTypePreorder.first == 'icon' %}
				<span class="icon_inventory__custom_preorder"></span>
			{% endif %}
			<span id="text" style="color: {{ appSettings.hexMsgPreorder }}">{{ appSettings.msgPreorder }}</span>
		</li>
	</ul>
{% endif %}
<!-- out of stock -->
{% if appSettings.showOutOfStockFlg == true %}
	{% if 0 >= inventory_quantity and inventory_policy != 'continue' and inventory_management == 'shopify' %}
	<ul id="status_soldout{{ num }}" class="inventory_list_block__custom">
	{% else %}
	<ul id="status_soldout{{ num }}" class="inventory_list_block__custom hide_inventory__custom">
	{% endif %}
		<li class="inventory_list__custom">
			{% if appSettings.iconTypeOutOfStock.first == 'icon' %}
				<span class="icon_inventory__custom_soldout"></span>
			{% endif %}
			<span id="text" style="color: {{ appSettings.hexMsgOutOfStock }}">{{ appSettings.msgOutOfStock }}</span>
		</li>
	</ul>
{% endif %}

<style>
  .icon_inventory__custom:after,
  .icon_inventory__custom:before {
    background: {{ icon_color }};
  }
  {% comment %} .inventory_low .icon_inventory__custom:after,
  .inventory_low .icon_inventory__custom:before {
    background: {{ icon_color_hsl }};
  } {% endcomment %}
  .icon_inventory__custom {
    color: {{ icon_color }};
  }

  /* low inventory */
  .icon_inventory__custom_low:after,
  .icon_inventory__custom_low:before {
    background: {{ icon_color_low }};
  }
  .icon_inventory__custom_low {
    color: {{ icon_color_low }};
  }
  /* in stock */
  .icon_inventory__custom_stock:after,
  .icon_inventory__custom_stock:before {
    background: {{ icon_color_stock }};
  }
  .icon_inventory__custom_stock {
    color: {{ icon_color_stock }};
  }
  /* preorder */
  .icon_inventory__custom_preorder:after,
  .icon_inventory__custom_preorder:before {
    background: {{ icon_color_preorder }};
  }
  .icon_inventory__custom_preorder {
    color: {{ icon_color_preorder }};
  }
  /* out of stock */
  .icon_inventory__custom_soldout:after,
  .icon_inventory__custom_soldout:before {
    background: {{ icon_color_soldout }};
  }
  .icon_inventory__custom_soldout {
    color: {{ icon_color_soldout }};
  }
  /* hide status */
  .hide_inventory__custom {
    display: none;
  }
</style>

{{ 'inventory-customize-order-app.css' | asset_url | stylesheet_tag }}
{% schema %}
{
  "name": "Inventory Status",
  "stylesheet": "inventory-customize-order-app.css",
  "javascript": "inventory-status.js",
  "target": "section",
  "settings": []
}
{% endschema %}
